.headerContainer {
  background: var(--brown-500);
  height: 6.5rem;

  display: flex;
  align-items: center;

  padding: 2rem 4rem; // vertical horizontal

  border-bottom: 1px solid var(--brown-500);

  box-shadow: 0 6px 6px -2px rgba(0, 0, 0, 0.5);

  position:relative;
  z-index:999;

  p {
    margin-left: 2rem;
    padding: 0.25rem 0 0.25rem 2rem; // up, right, down, left 
    border-left: 1px solid var(--gray-100);
  }

  span {
    margin-left: auto;
    text-transform: capitalize;
  }
}